<section class="columns is-multiline">

  <div class="column is-12 has-text-centered">
    <h2 class="title is-4">
      <span class="is-pulled-left title is-6">
        <strong><%= restaurants.length %></strong> restaurants added so far.
      </span>
      <i class="fas fa-utensils"></i> Restaurants
      <% if(locals.isLoggedIn) { %>
        <a href="/restaurants/new">
          <button class="button add-button is-pulled-right title is-6"><span class="add-icon"><i class="fas fa-plus"></i></span> Restaurant</button>
        </a>
        <% } else { %>
        <span class="is-pulled-right title is-6">Log in to add new restaurants</span>
      <% } %>
    </h2>
  </div>

  <div class="column is-12 index-content">
    <section class="restaurant-grid columns is-multiline is-centered">
      <% restaurants.forEach(restaurant => { %>
      <article class="column is-9">
          <div class="restaurant-block columns">
            <div class="column is-7">
              <a href="/restaurants/<%= restaurant._id %>"><img class="rest-index-image" src="<%= restaurant.image %>"/></a>
            </div>
            <div class="column is-5">
              <div class="columns is-multiline">
                <div class="column is-12">
                  <div class="columns">
                    <div class="column is-6">
                      <h3 class="title is-5"><%= restaurant.name %></h3>
                      <p class="" >Cuisine: <%= restaurant.cuisine %></p>
                    </div>
                    <div class="column is-6 has-text-right">
                      <h3 class="subtitle is-6">
                        <% if(restaurant.averageRating === 'None'){ %>
                          Not reviewed yet
                      </h3>
                        <% } else { %>
                          <%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="shuriken">'.repeat(restaurant.averageRating) %>
                        <% } %>
                      <h3 class="subtitle is-6"><%- '<i class="fas fa-pound-sign"></i>'.repeat(restaurant.price) %></h3>
                    </div>
                  </div>
                </div>
                <div class="column is-12 index-description">
                  <p><%= restaurant.description %></p>
                </div>
                <div class="column is-5 view-button">
                  <a class="" href="/restaurants/<%= restaurant._id %>">
                    <button class="button view-button is-expanded title is-6">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>

      </article>
      <% }) %>
      <% if(locals.isLoggedIn) { %>
        <article class="column is-9">
            <a href="/restaurants/new">
            <div class="restaurant-block columns new-rest-block">
              <div class="column is-12 has-text-centered">
                <span class="new-rest-block"><i class="fas fa-plus"></i></span>
              </div>
            </div>
            </a>
        </article>
      <% } %>

    </section>
  </div>
</section>
