<div class="has-text-centered">
  <h2 class="title is-4">Add a new Restaurant</h2>
</div>
<div class="columns is-centered">
  <form action="/restaurants" class="column is-7" method="post">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input is-hidden" name="restAuthor" value="<%= locals.currentUser._id %>">
        <input class="input" required name="name" placeholder="Name">
      </div>
    </div>

    <div class="field">
      <label class="label">Address</label>
      <div class="control">
        <input class="input" required name="address" placeholder="Address">
      </div>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" required name="description" placeholder="Description"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Cuisine</label>
      <div class="control">
        <input class="input" required name="cuisine" placeholder="Cuisine">
      </div>
    </div>

    <div class="field">
      <label class="label">Image URL</label>
      <div class="control">
        <input class="input" required name="image" placeholder="Image URL">
      </div>
    </div>

    <div class="field">
      <label class="label">Price</label>
      <div class="field is-grouped">

        <div class="control is-expanded">
            <div class="control">
              <label class="radio price-pound">
                <input type="radio" name="price" value="1" required>
                <%- '<i class="fas fa-pound-sign"></i>'.repeat(1) %>
              </label>
              <label class="radio price-pound">
                <input type="radio" name="price" value="2">
                <%- '<i class="fas fa-pound-sign"></i>'.repeat(2) %>
              </label>
              <label class="radio price-pound">
                <input type="radio" name="price" value="3">
                <%- '<i class="fas fa-pound-sign"></i>'.repeat(3) %>
              </label>
              <label class="radio price-pound">
                <input type="radio" name="price" value="4">
                <%- '<i class="fas fa-pound-sign"></i>'.repeat(4) %>
              </label>
            </div>
        </div>

        <div class="control">
          <button class="button title is-6 is-danger is-link">Add</button>
        </div>

      </div>
    </div>

  </form>
</div>
