<section class="columns show-content is-multiline">
  <article class="column is-10 is-offset-1">
    <div class="show-block columns">
      <div class="column is-7">
        <img src="<%= image %>"/>
      </div>
      <div class="column is-5">
          <div class="columns is-multiline">
            <div class="column is-12">
              <div class="columns">
                <div class="column is-6">
                  <h2 class="title is-4"><%= name %></h2>
                  <p class="">Cuisine: <%= cuisine %></p>
                </div>
                <div class="column is-6 has-text-right">
                  <h3 class="subtitle is-6">
                    <% if(averageRating === 'None'){ %>
                      Not reviewed yet
                    <% } else { %>
                      <%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="shuriken">'.repeat(averageRating) %>
                    <% } %>
                  </h3>
                  <h3 class="subtitle is-6"><%- '<i class="fas fa-pound-sign"></i>'.repeat(price) %></h3>
                </div>
              </div>
            </div>
            <div class="column is-12 index-description">
              <p><%= description %></p>
            </div>
            <div class="column is-12">
              <p><%= address %></p>
              <p>Added by: <a class="title is-6" href="/users/<%= restAuthor._id %>"><%= restAuthor.username %></a></p>
            </div>

            <div class="column is-12 has-text-centered columns">
              <% if(locals.isLoggedIn && (locals.currentUser.username === restAuthor.username)) { %>
                <a href="/restaurants/<%= _id %>/edit"><span class="edit-button title is-6 button">Edit</span></a>
                <span><form action="/restaurants/<%= _id %>?_method=DELETE" method="post">
                <button class="button delete-button title is-6">Delete</button>
                </form></span>
              <% } %>
            </div>
          </div>
      </div>
    </div>
  </article>
  <article class="review column is-10 is-offset-1">
    <section class="columns is-multiline">

    <% reviews.forEach(review => { %>
      <div class="column is-8 is-offset-2">
        <div class="columns is-multiline">
          <div class="column is-2">
            <img class="profile-pic" src="<%= review.reviewAuthor.profilePic %>" alt="profile picture">
          </div>
          <div class="column is-7">
            <a href="/users/<%= review.reviewAuthor._id %>">
            <p class="title is-6"><strong><%= review.reviewAuthor.username %></strong></p>
            </a>
            <p class="subtitle is-7"><%= review.createdAt %></p>
            <p><%= review.comment %></p>
          </div>
          <div class="column is-3 has-text-right show-delete-comment">
            <p class=""><%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="">'.repeat(review.rating) %></p>
            <% if(locals.isLoggedIn && (locals.currentUser.username === review.reviewAuthor.username)) { %>
              <form action="/restaurants/<%= _id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" >
                <button class="button delete-button title is-6" >Delete</button>
              </form>
              <% } %>
          </div>
          <div class="show-delete-comment column is-3 has-text-right">
          </div>
        </div>
      </div>
      <% }) %>
    </section>
  </article>
  <article class="add-review column is-8 is-offset-2">
    <% if(locals.isLoggedIn) { %>
    <form action="/restaurants/<%= _id %>/reviews" method="post">
      <input name="reviewAuthor" value="<%= locals.currentUser._id %>" hidden>
      <input name="createdAt" type="datetime" hidden="true" value="<%= (new Date).toLocaleString('en',
      { day: 'numeric', month: 'short', year: 'numeric', hour: 'numeric', minute: 'numeric'}) %>">
      <div class="field">
        <label class="label">Review</label>
        <div class="control">
          <textarea class="textarea" name="comment" required placeholder="Review"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Rating</label>
        <div class="field is-grouped">

          <div class="control is-expanded">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="rating" value="1" required hidden>
                  <%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="shuriken">'.repeat(1) %>
                </label>
                <label class="radio">
                  <input type="radio" name="rating" value="2" hidden>
                  <%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="shuriken">'.repeat(2) %>
                </label>
                <label class="radio">
                  <input type="radio" name="rating" value="3" hidden>
                  <%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="shuriken">'.repeat(3) %>
                </label>
                <label class="radio">
                  <input type="radio" name="rating" value="4" hidden>
                  <%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="shuriken">'.repeat(4) %>
                </label>
                <label class="radio">
                  <input type="radio" name="rating" value="5" hidden>
                  <%- '<img class="rating-star" src="/images/japanese-shuriken.png" alt="shuriken">'.repeat(5) %>
                </label>
              </div>
          </div>

          <div class="control">
            <button class="button title is-6 is-danger is-link">Submit review</button>
          </div>

        </div>
      </div>
    </form>
    <% } else { %>
      <div class="has-text-centered">
        <h3 class="title is-5"><a href="/login">Log in</a> to add a review</h3>
      </div>
      <% } %>
  </article>
</section>
