<div class="">
  <img width="300px" height="400px" src="<%= image %>"/>
</div>
<div class="">
  <h2><%= name %></h2>
  <span>Price: <%= 'ðŸ’°'.repeat(price) %></span>
  <span><%= cuisine %></span>
  <span>Rating: <%= 'â­ï¸'.repeat(rating) %></span>
  <p><%= description %></p>
  <p><%= address %></p>
  <% if(locals.isLoggedIn) { %>
    <span><a href="/restaurants/<%= _id %>/edit">Edit</a></span>
    <span><form action="/restaurants/<%= _id %>?_method=DELETE" method="post">
    <button>Delete</button>
    </form></span>
  <% } %>
  <% reviews.forEach(review => { %>
    <span><strong><%= review.username %></strong></span>
    <p><%= review.comment %></p>
    <p><%= 'â­ï¸'.repeat(review.rating) %></p>

    <form action="/restaurants/<%= _id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" >
      <button>Delete Comment</button>
    </form>
  <% }) %>


  <% if(locals.isLoggedIn) { %>
    <form action="/restaurants/<%= _id %>/reviews" method="post">
      <input name="username" value="<%= locals.currentUser.username %>" hidden="true"/>
      <input name="rating" type="number" min="1" max="5"/>
      <textarea name="comment"></textarea>
      <button>Submit review</button>
    </form>
  <% } %>
</div>
