<div class="">
  <img width="300px" height="400px" src="<%= image %>"/>
</div>
<div class="">
  <h2><%= name %></h2>
  <span>Price: <%= '£'.repeat(price) %></span>
  <span><%= cuisine %></span>
  <span>Rating: <%= '⭐️'.repeat(rating) %></span>
  <p><%= description %></p>
  <p><%= address %></p>
</div>
